@import "../../../styles/_color_css.css";
.movie-item {
  position: relative;
  display: block;
  min-height: 325px;
  border-radius: 5px;
  background-color: var(--bgColorLight);
  border: 1px solid var(--lightGray);
}
.movie-item .movie-item-rating {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--bgColorLight);
}
.movie-item .movie-item-rating i {
  margin-right: 5px;
  color: var(--rating);
}
.movie-item .movie-item-image img {
  width: 100%;
  border-radius: 5px;
  height: 275px;
  object-fit: cover;
}
.movie-item .movie-item-title {
  display: flex;
  align-items: center;
  height: 30px;
  font-weight: bold;
  margin: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--white);
}
@media (max-width: 575px) {
  .movie-item {
    width: 100%;
  }
}
