<!-- <pre>{{ movies | json }}</pre> -->
<app-slider [items]="popularMovies"></app-slider>
<app-items-banner
  [dir]="'dir' | translate"
  [movie]="popularMovies"
  [title]="'homeInfo.title1' | translate"
></app-items-banner>
<app-items-banner
  [dir]="'dir' | translate"
  [movie]="upComingrMovies"
  [title]="'homeInfo.title2' | translate"
></app-items-banner>
<app-items-banner
  [dir]="'dir' | translate"
  [movie]="toRatedMovies"
  [title]="'homeInfo.title3' | translate"
></app-items-banner>
<app-items-banner
  [dir]="'dir' | translate"
  [movie]="nowPlayingMovies"
  [title]="'homeInfo.title4' | translate"
></app-items-banner>
