@import "../../../styles/_color_css.css";
:host ::ng-deep .p-tabview .p-tabview-nav {
  justify-content: center;
}
.image {
  max-width: 100%;
}
.overview {
  line-height: 1.5;
}
.state {
  display: flex;
  margin-bottom: 15px;
}
.lable {
  width: 141px;
  font-weight: bold;
}
.value {
  color: var(--primaryColor);
}
.season {
  max-width: 750px;
}
.genre {
  padding: 0 10px;
  line-height: 1.5;
}
.genre:not(:last-of-type) {
  border-right: 1px solid var(--primaryColor);
}
.genre-ar {
  padding: 0 10px;
  line-height: 1.5;
}
.genre-ar:not(:last-of-type) {
  border-left: 1px solid var(--primaryColor);
}
.actors {
  padding: 10px;
}
.actors img {
  max-width: 100%;
}
.actors span {
  display: block;
  text-align: center;
  margin: 10px 0;
  color: var(--primaryColor);
}
.review {
  margin: 20px 0;
}
.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content {
  line-height: 1.5;
}
.review span {
  color: var(--primaryColor);
}
.rating {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
:host ::ng-deep .rating-component {
  width: 30%;
}
