<div class="container">
  <h2
    style="
      color: #d4af37;
      border-bottom: 1px solid #d4af37;
      padding-bottom: 5px;
    "
  >
    {{ title }}
  </h2>
  <ng-container *ngIf="movie && movie.length > 0; else tvShowsContainer">
    <div class="grid">
      <div class="col-12 sm:col-6 md:col-3 lg:col-2" *ngFor="let item of movie">
        <app-movie-item [movie]="item"></app-movie-item>
      </div>
    </div>
  </ng-container>
  <ng-template #tvShowsContainer>
    <div class="grid">
      <div
        class="col-12 sm:col-6 md:col-3 lg:col-2"
        *ngFor="let item of tvShows"
      >
        <app-movie-item [tvShows]="item"></app-movie-item>
      </div>
    </div>
  </ng-template>
</div>
