<div class="slider" [dir]="'dir' | translate">
  <ng-container *ngFor="let show of tvShow; let i = index">
    <div class="slide" *ngIf="i === curentIndex">
      <div class="slide-bg" [ngClass]="{ 'slide-bg-ar ': lang === 'ar' }">
        <img
          [src]="imagesSize.larg + show.backdrop_path"
          alt="{{ show.name }}"
        />
      </div>
      <div class="slide-pane" [ngClass]="{ 'slide-ar': lang === 'ar' }">
        <h2 class="name">{{ show.name }}</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <span class="app-icon">hotel_class</span>
              <span class="rating-value"
                >{{ show.vote_average }}<span>/10</span></span
              >
            </span>
            <span>{{ show.vote_count }} Reviews</span>
            <span>{{ show.first_air_date | date : "yyyy" }}</span>
          </div>
        </div>
        <div class="desc mt-6">{{ show.overview }}</div>
      </div>
    </div>
  </ng-container>
</div>
