<ng-container *ngIf="movies">
  <app-slider [items]="[movies]"></app-slider>
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img
            class="poster"
            [src]="imageSizes.medium + movies.poster_path"
            [alt]="movies.title"
          />
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <h2>Overview</h2>
          <p class="overview">{{ movies.overview }}</p>
          <div class="state">
            <div class="label">Release Date :</div>
            <div class="value">
              {{ movies.release_date | date : "dd/MM/yyyy" }}
            </div>
          </div>
          <div class="state">
            <div class="label">Language :</div>
            <div class="value">
              {{ movies.original_language | uppercase }}
            </div>
          </div>
          <div class="state">
            <div class="label">Revenue:</div>
            <div class="value">
              {{ movies.revenue | currency }}
            </div>
          </div>
          <div class="state">
            <div class="label">Duration :</div>
            <div class="value">{{ movies.runtime }} M</div>
          </div>
          <div class="state">
            <div class="label">Status :</div>
            <div class="value">
              {{ movies.status }}
            </div>
          </div>
          <div class="state">
            <div class="label">Genres:</div>
            <div class="value">
              <span *ngFor="let genre of movies.genres">{{ genre.name }} </span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let video of movieVideos">
          <div class="col-12 md:col-4 lg:col-4">
            <app-movie-videos
              [key]="video.key"
              [site]="video.site"
            ></app-movie-videos>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngFor="let image of movieImages?.backdrops">
          <div class="col-12 md:col-4 lg:col-4">
            <p-image
              [src]="imageSizes.larg + image.file_path"
              alt="Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Cast">
      <p-carousel
        *ngIf="movieActors"
        [value]="movieActors.cast"
        [numVisible]="5"
      >
        <ng-template let-actor pTemplate="item">
          <div class="actors">
            <img
              *ngIf="actor.profile_path"
              [src]="imageSizes.medium + actor.profile_path"
              [alt]="actor.name"
            />
            <span>{{ actor.name }}</span>
          </div>
        </ng-template>
      </p-carousel>
    </p-tabPanel>
    <p-tabPanel header="Similar Movies">
      <div class="grid">
        <ng-container *ngFor="let similarMovie of similarMovies">
          <div class="col-12 sm:col-6 md:col-3 lg:col-2">
            <app-movie-item [movie]="similarMovie"></app-movie-item>
          </div>
        </ng-container>
      </div>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [rows]="20"
        [totalRecords]="1000"
        [rowsPerPageOptions]="[10, 20, 30]"
      ></p-paginator>
    </p-tabPanel>
  </p-tabView>
</ng-container>
